{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
{% include 'main/partial/head.html' %}

<body class="bg-dark h-100">

    <main class="d-flex flex-nowrap h-100 text-bg-dark">
        {% include 'main/partial/sidebar.html' %}
        <div class="m-4 d-flex h-100 w-100 flex-column">
            {% block main %}
            {% endblock %}
            {% include 'partial/footer.html' %}
        </div>
    </main>

    {% include 'user/partial/sweetalert.html' %}
    <script src="{% static 'vendor/bootstrap_5/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'main/assets/js/app.js' %}"></script>

</body>

</html>