{% extends 'user/layout.html' %}
{% load static %}
{% block main %}
<form method="post">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'assets/img/bootstrap-logo.svg' %}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    {% for field in form %}
    <div class="form-floating text-dark">
        {{ field.errors }}
        {{ field }} {{ field.label_tag }}
    </div>
    {% endfor %}

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
</form>
{% endblock main %}