<header class="mb-auto">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand fw-bold">Django-Base</a>
            <div class="d-flex">
                <a href="{% url 'user:sign-in' %}" class="btn btn-lg pt-1 btn-outline-primary text-white">Sign-in</a>
                <a href="{% url 'user:sign-up' %}" class="btn btn-lg pt-1 btn-success mx-2 text-white">Sign-up</a>
            </div>
        </div>
    </nav>
</header>